*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --color-primary: hsl(300, 43%, 22%);
  --color-secondary: hsl(333, 80%, 67%);
  --color-tertiary: hsl(303, 10%, 53%);
  --color-quaternary: hsl(300, 24%, 96%); }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 53.125em) {
    html {
      font-size: 55%; } }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif; }
  @media only screen and (max-width: 31.25em) {
    body {
      height: auto; } }

.container {
  max-width: 140rem;
  width: 100rem;
  min-height: 0; }

.social-proof {
  height: 75vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 5em;
  background: url(../img/bg-pattern-bottom-desktop.svg) 2rem 0 no-repeat, url(../img/bg-pattern-top-desktop.svg) 0 -20rem no-repeat;
  border-bottom: 0.1rem solid var(--color-quaternary); }
  @media only screen and (max-width: 53.125em) {
    .social-proof {
      background: url(../img/bg-pattern-bottom-desktop.svg) -15rem 0 no-repeat, url(../img/bg-pattern-top-desktop.svg) 0 -20rem no-repeat; } }
  @media only screen and (max-width: 42.25em) {
    .social-proof {
      height: auto;
      margin-bottom: 3rem;
      padding: 3em 0 0 0;
      background: url(../img/bg-pattern-bottom-desktop.svg) -15rem 25rem no-repeat, url(../img/bg-pattern-top-desktop.svg) 20rem -22rem no-repeat; } }
  @media only screen and (max-width: 31.25em) {
    .social-proof {
      background: url(../img/bg-pattern-bottom-mobile.svg) bottom -25rem right 0rem no-repeat, url(../img/bg-pattern-top-mobile.svg) top 0rem left -15rem no-repeat; } }
  .social-proof__top {
    display: flex; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__top {
        flex-direction: column;
        margin-bottom: 3rem; } }
  .social-proof__top, .social-proof__bottom {
    height: 50%; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__top, .social-proof__bottom {
        height: auto; } }
  .social-proof__header {
    flex: 1;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__header {
        width: 60%;
        margin: 0 auto 2rem auto;
        text-align: center; } }
    @media only screen and (max-width: 31.25em) {
      .social-proof__header {
        width: 80%;
        margin: 0 auto 2rem auto;
        text-align: center; } }
  .social-proof__text-main {
    font-size: 1.2rem;
    color: var(--color-tertiary); }
  .social-proof__ratings {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__ratings {
        width: 60%;
        margin: 0 auto; } }
    @media only screen and (max-width: 31.25em) {
      .social-proof__ratings {
        width: 80%;
        margin: 0 auto; } }
  .social-proof__rating {
    display: flex;
    width: 60%;
    padding: 1.5em 0 1.5em 0.5em;
    background-color: var(--color-quaternary);
    border-radius: 1rem;
    justify-content: space-around;
    align-items: baseline; }
    @media only screen and (max-width: 53.125em) {
      .social-proof__rating {
        width: 61.5%; } }
    @media only screen and (max-width: 42.25em) {
      .social-proof__rating {
        width: 100%;
        align-items: center; } }
    @media only screen and (max-width: 31.25em) {
      .social-proof__rating {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
  .social-proof__rating:not(:last-child) {
    margin-bottom: 1.5em; }
  .social-proof__stars {
    width: 25%;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 31.25em) {
      .social-proof__stars {
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 18.75em) {
      .social-proof__stars {
        width: 35%; } }
  .social-proof__star {
    background-image: url(../img/icon-star.svg);
    height: 1.2rem;
    width: 1.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block; }
  .social-proof__rating-origin {
    width: 60%;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__rating-origin {
        width: 40%; } }
    @media only screen and (max-width: 31.25em) {
      .social-proof__rating-origin {
        width: 100%; } }
  .social-proof__bottom {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__bottom {
        flex-direction: column;
        width: 60%;
        margin: 0 auto 2rem auto; } }
    @media only screen and (max-width: 31.25em) {
      .social-proof__bottom {
        width: 80%;
        margin: 0 auto; } }
  .social-proof__feedback {
    background-color: var(--color-primary);
    border-radius: 0.7rem;
    padding: 2.5em;
    flex: 0 0 31.5%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .social-proof__user-header-container {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 42.25em) {
      .social-proof__user-header-container {
        margin-bottom: 1.5rem; } }
  .social-proof__user-img {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 2.5rem; }
  .social-proof__user-credentials {
    color: var(--color-secondary);
    opacity: 60%;
    font-size: 1.1rem; }
  .social-proof__user-text {
    color: var(--color-quaternary);
    line-height: 1.7;
    opacity: 90%;
    font-size: 1.1rem; }

.attribution {
  color: var(--color-tertiary);
  font-size: 1.2rem;
  text-align: center; }
  .attribution a {
    color: var(--color-primary);
    text-decoration: none;
    display: inline-block;
    transition: all 0.1s; }
    .attribution a:hover {
      transform: skewX(-15deg);
      font-weight: bold; }
  @media only screen and (max-width: 42.25em) {
    .attribution {
      width: 80%;
      margin: 0 auto; } }

.heading-secondary {
  font-size: 4rem;
  color: var(--color-primary); }
  @media only screen and (max-width: 42.25em) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-quaternary {
  font-size: 1.2rem; }

.u-ml-m {
  margin-left: 10rem; }
  @media only screen and (max-width: 42.25em) {
    .u-ml-m {
      margin: 0; } }

.u-ml-b {
  margin-left: 20rem; }
  @media only screen and (max-width: 42.25em) {
    .u-ml-b {
      margin: 0; } }

.u-mt-m {
  margin-top: 1.5rem; }

.u-mt-b {
  margin-top: 3rem; }
  @media only screen and (max-width: 42.25em) {
    .u-mt-b {
      margin-top: 1.5rem; } }

.u-mb-sm {
  margin-bottom: 1rem; }
  @media only screen and (max-width: 42.25em) {
    .u-mb-sm {
      margin-bottom: 2rem; } }

.u-mb-vsm {
  margin-bottom: 0.5rem; }

.u-o-sm {
  opacity: 90%; }

.u-c-q {
  color: var(--color-quaternary); }

.u-ls-sm {
  letter-spacing: 0.1rem; }
