*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(300, 43%, 22%);
  --color-secondary: hsl(333, 80%, 67%);
  --color-tertiary: hsl(303, 10%, 53%);
  --color-quaternary: hsl(300, 24%, 96%);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  max-width: 140rem;
  width: 70vw;
}
