//margin left
.u-ml-m {
  margin-left: 8rem;
}

.u-ml-b {
  margin-left: 16rem;
}

//margin top medium
.u-mt-m {
  margin-top: 1.5rem;
}
.u-mt-b {
  margin-top: 3rem;
}
//margin bottom small

.u-mb-sm {
  margin-bottom: 1rem;
}

//margin bottom very small

.u-mb-vsm {
  margin-bottom: 0.5rem;
}

// opacity 80%
.u-o-sm {
  opacity: 90%;
}

// color quaternary

.u-c-q {
  color: var(--color-quaternary);
}

//letter spacing small

.u-ls-sm {
  letter-spacing: 0.1rem;
}
