//margin left
.u-ml-m {
  margin-left: 10rem;
  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }
}

.u-ml-b {
  margin-left: 20rem;
  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }
}

//margin top medium
.u-mt-m {
  margin-top: 1.5rem;
}
.u-mt-b {
  margin-top: 3rem;

  @media only screen and (max-width: $bp-large) {
    margin-top: 1.5rem;
  }
}
//margin bottom small

.u-mb-sm {
  margin-bottom: 1rem;
  @media only screen and (max-width: $bp-large) {
    margin-bottom: 2rem;
  }
}

//margin bottom very small

.u-mb-vsm {
  margin-bottom: 0.5rem;
}

// opacity 80%
.u-o-sm {
  opacity: 90%;
}

// color quaternary

.u-c-q {
  color: var(--color-quaternary);
}

//letter spacing small

.u-ls-sm {
  letter-spacing: 0.1rem;
}
